*.s##
ESC_hardware/GaN_Fet_ESC/V0.2/GaN_Fet_ESC_V0.2_PCB/GaN_Fet_ESC_V0.2_Managed.brd
ESC_hardware/GaN_Fet_ESC/V0.2/GaN_Fet_ESC_V0.2_PCB/GaN_Fet_ESC_V0.2_Managed.sch
.metadata/.plugins/org.eclipse.core.resources/.root/27.tree
ESC_firmware/Debug/ESC_firmware.bin
ESC_firmware/Debug/ESC_firmware.elf
ESC_firmware/Debug/ESC_firmware.list
ESC_firmware/Debug/ESC_firmware.map
ESC_firmware/Debug/makefile
ESC_firmware/Debug/objects.list
ESC_firmware/Debug/objects.mk
ESC_firmware/Debug/sources.mk
ESC_firmware/Debug/Analog/src/adc.d
ESC_firmware/Debug/Analog/src/adc.o
ESC_firmware/Debug/Analog/src/opamp.d
ESC_firmware/Debug/Analog/src/opamp.o
ESC_firmware/Debug/Analog/src/opamp.su
ESC_firmware/Debug/Analog/src/subdir.mk
ESC_firmware/Debug/Analog/src/vrefbuf.d
ESC_firmware/Debug/Analog/src/vrefbuf.o
ESC_firmware/Debug/CMSIS/src/subdir.mk
ESC_firmware/Debug/CMSIS/src/system_stm32g4xx.d
ESC_firmware/Debug/CMSIS/src/system_stm32g4xx.o
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/croutine.d
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/croutine.o
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/event_groups.d
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/event_groups.o
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/list.d
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/list.o
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/port.d
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/port.o
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/queue.d
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/queue.o
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/stream_buffer.d
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/stream_buffer.o
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/subdir.mk
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/tasks.d
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/tasks.o
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/timers.d
ESC_firmware/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/timers.o
ESC_firmware/Debug/FreeRTOS_Source/portable/MemMang/heap_1.d
ESC_firmware/Debug/FreeRTOS_Source/portable/MemMang/heap_1.o
ESC_firmware/Debug/FreeRTOS_Source/portable/MemMang/subdir.mk
ESC_firmware/Debug/Main/scr/main.d
ESC_firmware/Debug/Main/scr/main.o
ESC_firmware/Debug/Main/scr/main.su
ESC_firmware/Debug/Main/scr/subdir.mk
ESC_firmware/Debug/Main/scr/syscalls.d
ESC_firmware/Debug/Main/scr/syscalls.o
ESC_firmware/Debug/Main/scr/sysinit.d
ESC_firmware/Debug/Main/scr/sysinit.o
ESC_firmware/Debug/Main/scr/sysmem.d
ESC_firmware/Debug/Main/scr/sysmem.o
ESC_firmware/Debug/Main/Startup/startup_stm32g473cetx.d
ESC_firmware/Debug/Main/Startup/startup_stm32g473cetx.o
ESC_firmware/Debug/Peripheral/src/cordic.d
ESC_firmware/Debug/Peripheral/src/cordic.o
ESC_firmware/Debug/Peripheral/src/dma.d
ESC_firmware/Debug/Peripheral/src/dma.o
ESC_firmware/Debug/Peripheral/src/FDCAN.d
ESC_firmware/Debug/Peripheral/src/FDCAN.o
ESC_firmware/Debug/Peripheral/src/fmac.d
ESC_firmware/Debug/Peripheral/src/fmac.o
ESC_firmware/Debug/Peripheral/src/fmac.su
ESC_firmware/Debug/Peripheral/src/init_timers.d
ESC_firmware/Debug/Peripheral/src/init_timers.o
ESC_firmware/Debug/Peripheral/src/LED.d
ESC_firmware/Debug/Peripheral/src/LED.o
ESC_firmware/Debug/Peripheral/src/subdir.mk
ESC_firmware/Debug/Peripheral/src/UART.d
ESC_firmware/Debug/Peripheral/src/UART.o
ESC_firmware/Debug/Peripheral/src/watchdog.d
ESC_firmware/Debug/Peripheral/src/watchdog.o
ESC_firmware/Debug/SW_Fucntions/src/conversions.d
ESC_firmware/Debug/SW_Fucntions/src/conversions.o
ESC_firmware/Debug/SW_Fucntions/src/conversions.su
ESC_firmware/Debug/SW_Fucntions/src/sort.d
ESC_firmware/Debug/SW_Fucntions/src/sort.o
ESC_firmware/Debug/SW_Fucntions/src/subdir.mk
FMAC_Demo/Debug/FMAC_Demo.bin
FMAC_Demo/Debug/FMAC_Demo.elf
FMAC_Demo/Debug/FMAC_Demo.list
FMAC_Demo/Debug/CMSIS/src/system_stm32g4xx.d
FMAC_Demo/Debug/CMSIS/src/system_stm32g4xx.o
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/croutine.d
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/croutine.o
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/event_groups.d
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/event_groups.o
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/list.d
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/list.o
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/port.d
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/port.o
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/queue.d
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/queue.o
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/stream_buffer.d
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/stream_buffer.o
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/tasks.d
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/tasks.o
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/timers.d
FMAC_Demo/Debug/FreeRTOS_Source/portable/GCC/ARM_CM4F/timers.o
FMAC_Demo/Debug/FreeRTOS_Source/portable/MemMang/heap_1.d
FMAC_Demo/Debug/FreeRTOS_Source/portable/MemMang/heap_1.o
FMAC_Demo/Debug/Main/scr/main.d
FMAC_Demo/Debug/Main/scr/main.o
FMAC_Demo/Debug/Main/scr/syscalls.d
FMAC_Demo/Debug/Main/scr/syscalls.o
FMAC_Demo/Debug/Main/scr/sysinit.d
FMAC_Demo/Debug/Main/scr/sysinit.o
FMAC_Demo/Debug/Main/scr/sysmem.d
FMAC_Demo/Debug/Main/scr/sysmem.o
FMAC_Demo/Debug/Main/Startup/startup_stm32g473cetx.d
FMAC_Demo/Debug/Main/Startup/startup_stm32g473cetx.o
FMAC_Demo/Debug/Peripheral/src/CORDIC.d
FMAC_Demo/Debug/Peripheral/src/CORDIC.o
FMAC_Demo/Debug/Peripheral/src/DAC.d
FMAC_Demo/Debug/Peripheral/src/DAC.o
FMAC_Demo/Debug/Peripheral/src/dma.d
FMAC_Demo/Debug/Peripheral/src/dma.o
FMAC_Demo/Debug/Peripheral/src/fmac.d
FMAC_Demo/Debug/Peripheral/src/fmac.o
FMAC_Demo/Debug/Peripheral/src/init_timers.d
FMAC_Demo/Debug/Peripheral/src/init_timers.o
FMAC_Demo/Debug/Peripheral/src/LED.d
FMAC_Demo/Debug/Peripheral/src/LED.o
FMAC_Demo/Debug/Peripheral/src/UART.d
FMAC_Demo/Debug/Peripheral/src/UART.o
FMAC_Demo/Debug/Peripheral/src/vrefbuf.d
FMAC_Demo/Debug/Peripheral/src/vrefbuf.o
FMAC_Demo/Debug/SW_Fucntions/src/conversions.d
FMAC_Demo/Debug/SW_Fucntions/src/conversions.o
